.dark-mode{
    background-color: black;
    color: aqua;
}
.ri-moon-fill {
    cursor: pointer;
}
.btn-clicked {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}